{% extends 'base.html.twig' %}

{% block title %} Hello world {% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">autor</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
