{% extends 'base.html.twig' %}

{% block title %} Hello world {% endblock %}

{% block body %}

    <section class="vh-100" style="background-color: #c4e3f3;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Bienvenidos al desafio</h1>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Yury Ortuño</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
